<h1>Add a new bookmark</h1>
<form action='/create-bookmark' method='post'>
<input type='text' name='name' placeholder='name'>
<input type='text' name='url' placeholder='url'>
<input type='submit' value='Add'>
</form>